.header-container {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10px;
  gap: 20px;
  position: fixed;
  top: 0;
  border-bottom: 1px solid var(--border-light);
}

.button-container {
  display: flex;
  gap: 10px;
}

.button-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: 1.3em;
  gap: 5px;
  padding: 0 10px;
  font-weight: 900;
  font-family: "Orbitron", sans-serif;
  cursor: pointer;
}

.logo {
  color: white;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  .button-container {
    width: auto;
  }

  .button-container button.menu,
  span {
    display: none;
  }
}
