.search-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 50%;
  border: 1px solid var(--light);
  background-color: var(--light-bg);
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}

.search-container:focus-within {
  outline: 1px solid var(--black);
}

.search-container input {
  width: 100%;
  border: none;
  padding: 0 10px;
  border-radius: 10px;
  background-color: var(--light-bg);
  transition: 0.5s ease-in-out;
}

.search-container input:focus {
  outline: none;
}

.search-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: var(--light-container);
  border: none;
  cursor: pointer;
  border-start-end-radius: 10px;
  border-end-end-radius: 10px;
  transition: 0.5s ease-in-out;
}

.dark .search-container {
  background-color: var(--dark-bg);
}

.dark .search-container input {
  background-color: var(--dark-bg);
  color: var(--light);
}

.dark .search-container button {
  background-color: var(--dark-container);
  color: var(--light);
}

@media (max-width: 1000px) {
  .search-container {
    width: 90%;
  }
}
