.search-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 50%;
  border: 1px solid var(--border-light);
  border-radius: 5px;
}

.search-container:focus-within {
  outline: 1px solid var(--black);
}

.search-container input {
  width: 100%;
  border: none;
  padding: 0 10px;
}

.search-container input:focus {
  outline: none;
}

.search-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: var(--light-container);
  border: none;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .search-container {
    width: 90%;
  }
}
