.videoitem-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background-color: var(--light-bg);
  color: var(--dark);
  transition: 0.5s ease-in-out;
}

.videoitem-container:hover {
  background-color: var(--light-container);
  z-index: 1;
}

.videoitem-container img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 20px;
}

.video-info {
  display: flex;
  width: 100%;
  padding: 10px;
  padding-bottom: 30px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.video-info img {
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.description {
  display: flex;
  flex-direction: column;
}

.dark .videoitem-container {
  background-color: var(--dark-bg);
  color: var(--light);
}

.dark .videoitem-container:hover {
  background-color: var(--dark-container);
}

@media (max-width: 1000px) and (orientation: landscape) {
  .videolist .videoitem-container {
    flex-direction: row;
  }

  .videolist .videoitem-container img {
    width: 30%;
  }

  .videolist .video-info {
    flex-direction: column-reverse;
  }

  .videolist .video-info img {
    width: 50px;
  }
}
